<form method="POST">
    <div>
      <label for="user id">user id</label>
      <input type="user id" name="user id" id="user id" required>
  </div>
  <div>
    <label for="amount">amount</label>
    <input type="amount" name="amount" id="amount" required>
  </div>
  <div>
    <label for="Confrmer_UserID">Confrmer_UserID</label>
    <input type="Confrmer_UserID" name="Confrmer_UserID" id="Confrmer_UserID" min="1" max="200" step="5">
  </div>
  
  <div>
   
  </div>
  
  <button type="submit">Submit</button>
</form>
      
     
      
      
      
      
      
      
      
      
      
      
    
